.converter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    gap: 4ch;
}

.converter > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p + .converter {
    justify-content: flex-start;
}

textarea {
    height: auto;
    min-height: 2lh;

    flex: 1 0 auto;

    resize: vertical;
    overflow: auto;
    white-space: nowrap;
}

code.snippet {
    display: block;
    white-space: preserve-breaks;

    padding-bottom: 1lh;
    padding-inline: 2ch;
}
