@page "/"

<PageTitle>Convert</PageTitle>

<div class="converter">
    <textarea @bind="input" @bind:after="@Convert"></textarea>
    <span>--></span>
    <textarea @bind="output" readonly></textarea>
</div>

<p>
    Enter chapters and durations on the left, get chapters and offsets on the right. One per line, parsing is very strict.
    As an example:
</p>

<div class="converter">
    <code class="snippet">
        Chapter 1 11:50
        Chapter 2 5:20
        Chapter 3 1:30
    </code>

    -->

    <code class="snippet">
        Chapter 1 00:00
        Chapter 2 11:50
        Chapter 3 17:10
    </code>
</div>
