@page "/"
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Convert</PageTitle>

<header>
    <h1>Convert chapter durations to offsets</h1>

    <p>
        Enter chapters and durations on the left, get chapters and offsets on the right.
        One per line, parsing is very strict and not very smart.
    </p>
</header>

<section class="converter">
    <textarea rows="20" @bind="input" @bind:after="@Convert"></textarea>
    <span>&rAarr;</span>
    <textarea @bind="output" readonly></textarea>
</section>

<section class="controls">
    <h4>Settings</h4>

    <label>
        <InputCheckbox @bind-Value="showSeconds" @bind-Value:after="Convert"/>

        Show seconds
    </label>
</section>

<section>
    <h4>Example</h4>

    <div class="converter">
        <code class="snippet">
            Chapter 1 11:50
            Chapter 2 5:20
            Chapter 3 1:22:33
            Chapter 4 1:30
        </code>

        <span>&rAarr;</span>

        <code class="snippet">
            Chapter 1 00:00:00
            Chapter 2 00:11:50
            Chapter 3 00:17:10
            Chapter 4 01:39:43
        </code>
    </div>
</section>

<footer>
    (c) 2026 Philipp Kiener. Check out the source on <a href="https://github.com/phkiener/chapter-offsets">GitHub</a>.
</footer>
