header, section, footer {
    margin-block-start: 1.5lh;
    margin-block-end: 1.5lh;

    &:first-child {
        margin-block-start: 0.5lh;
    }

    &:last-child {
        margin-block-end: 0.5lh;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.converter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    gap: 4ch;

    & > span {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 2ch;

    margin-block-start: -1lh;
}

section > .converter {
    justify-content: flex-start;
}

textarea {
    height: auto;
    min-height: 2lh;

    flex: 1 0 auto;

    resize: vertical;
    overflow: auto;
    white-space: nowrap;
}

code.snippet {
    display: block;
    white-space: preserve-breaks;

    padding-bottom: 1lh;
    padding-inline: 2ch;
}
